VERSION = 0.89f-sdl-2
PACKAGES = \
 SDLThrust_$(VERSION)
INSTALL_TO=Temp/Apps/Games

all: build pkg

build:
	make -C !SDLThrust/source -fmakefile.riscos


pkg:
	rm -rf Temp
	mkdir -p Temp/RiscPkg
	cp RiscPkg/Control Temp/RiscPkg
	cp RiscPkg/Copyright Temp/RiscPkg
	mkdir -p $(INSTALL_TO)
	svn export !SDLThrust  $(INSTALL_TO)/!SDLThrust
	cp !SDLThrust/SDLThrust $(INSTALL_TO)/!SDLThrust
	make -C Temp -f ../RiscPkg/Rules $(PACKAGES)
	rm -rf Temp

.PHONY: $(PACKAGES)
$(PACKAGES): %:
	riscpkg-gencontrol $(firstword $(subst _, ,$@)) < ../RiscPkg/Control > RiscPkg/Control
	rm -f ../RiscPkg/$@
	set StoreSuffix <UnixEnv$$zip$$sfix>
	set UnixEnv$$zip$$sfix \"\"
	zip -r ^.RiscPkg.$(subst .,/,$@) * -i@^.RiscPkg.$(firstword $(subst _, ,$@))/inc
	set UnixEnv$$zip$$sfix <StoreSuffix>
	unset StoreSuffix
